body {
  background-color: #cccccc;
}

footer {
  margin: 10px 0 0 0;
  padding: 10px 10px 10px 10px;
  background-color: #999999;
  text-align: center;
}

.newspan4{
width: 310px;
float: left;
min-height: 1px;
margin-left: 20px;
}

.newspan5{
width: 370px;
float: left;
min-height: 1px;
margin-left: 20px;
}

.justify {text-align: justify}
.rightpadded {margin-right: 20px}

.left-nav {
  background-color: #999999;
}

.nav {
  background-color: #999999;
}

.nav-list {
  color: #ffffff;
  padding: 0 0 0 0;
}

.nav-list > li {
  font-weight: bold;
  border-top: 1px solid #ffffff;
}

.nav-list ul {
  margin-left: 5px;
  border: none;
  list-style: none;
}

.nav-list ul li {
  padding-left: 20px;
}

.nav-list a {
  padding-left: 10px;
  margin: 0 0 0 0 !important; 
  color: #ffffff;
  text-shadow: none !important;
}

.nav-list a:hover {
  color: #407794;
}

.main-content {
  background-color: #e7e8e9;
} 

.section-header {
  color: #ffffff;
  background-color: #0f395e;
  padding: 5px 5px 5px 5px;
}

.align-center {
  text-align: center;
}

.profile-pic {
  float: left;
  margin-right: 5px;
  max-width: 120px;
}

.paper-title {
  font-weight: bold;
  color: #0f395e;
}

.paper-authors {
}

.paper-publisher {
  font-style: italic;
}

.paper-location {
}


