@media (min-width: 960px){
  .container{
    width: 960px;
  }
}

body {
  background-color: #cccccc;
}

footer {
  margin: 10px 0 0 0;
  padding: 10px 10px 10px 10px;
  background-color: #999999;
  text-align: center;
}

.paper{
  padding-right: 25px;
  padding-left: 10px;
}

.justify {text-align: justify}
.rightpadded {margin-right: 20px}

.left-nav {
  background-color: #999999;
}

.nav {
  background-color: #999999;
}

.list-group {
  color: #ffffff;
  padding: 0 0 0 0;
}

.list-group > li {
  font-weight: bold;
  border-top: 1px solid #ffffff;
}

.list-group ul {
  margin-left: 5px;
  border: none;
  list-style: none;
}

.list-group ul li {
  padding-left: 0px;
  padding-right: 10px;
}

.list-group a {
  padding-left: 10px;
  margin: 0 0 0 0 !important; 
  color: #ffffff;
  text-shadow: none !important;
}

.list-group a:hover {
  color: #407794;
}

.main-content {
  background-color: #e7e8e9;
  padding-left: 0px;
  padding-right: 0px;
}

.blog-siderbar{
  padding-left: 30px;
  padding-right:0px;
}

.section-header {
  color: #ffffff;
  background-color: #0f395e;
  padding: 5px 5px 5px 5px;
}

.align-center {
  text-align: center;
}

.profile-pic {
  float: left;
  margin-right: 5px;
  max-width: 120px;
}

.paper-title {
  font-weight: bold;
  color: #0f395e;
}

.paper-authors {
}

.paper-publisher {
  font-style: italic;
}

.paper-location {
}

.widget{
  padding-left: 0px;
}

